@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitcount+Grid+Single:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@theme{
    --font-Go:"Momo Signature", cursive;
}